@forward "../base/index";
@use "../base/index";

header {
  background-color: index.$mainBgColor;
}
main {
  background-color: index.$mainBodyColor;
}
footer {
  background-color: index.$mainFooterColor;
  color: index.$whiteColor;
  text-align: center;
  padding: 10px 0;
}
