// Primary Color
$mainBgColor: #ddd;
$mainTextColor: green;
$mainBodyColor: rgb(158, 161, 158);
$mainFooterColor: rgb(5, 51, 5);
$whiteColor: white;

// Speacing

$headerPadding: 20px;
$headerMargin: 20px;
$sectionPadding: 50px 0;
$textCenter: center;
